// ---------------------------
//
// base.scss
//
// ---------------------------

@if $mq-all {
  html {
    font-size: 62.5%;
  }
  body {
    @include font-size(16);
    margin: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
  table {
    width: 100%;
    td {
      padding: 5px 10px;
      border: 1px solid #ccc;
    }
  }
}

@if $mq-pc {

}

@if $mq-sp {

}
